* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: url('/images/img1.jpg') no-repeat center center fixed;
    background-size: cover;
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap between items */
}

.navbar-collapse {
    position: relative;
}

/* Navbar default state: transparent background */
.navbar {
    background-color: transparent;
}

/* Navbar-toggler border color */
.navbar-toggler {
    border-color:white!important; /* Adjust the color as needed */
}

/* When the navbar-collapse is shown, apply the white blur background */
.navbar-collapse.show {
    background-color: rgba(255, 255, 255, 0.2); /* Adjust the opacity as needed */
    
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        background-color: rgba(255, 255, 255, 0.2); /* Adjust the opacity as needed */
        backdrop-filter: blur(10px);
        padding: 10px;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-start; /* Adjust alignment for toggle menu */
    }

    .nav-item {
        margin-bottom: 10px; /* Adjust spacing between items */
    }
}


.logo {
    width: 200px;
    height: 200px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 10%;
    position: relative;
    animation: swipe-down 0.7s ease-out forwards;
}

@keyframes swipe-down {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    list-style-type: none;
    font-weight: bold;
}

nav ul li {
    padding: 20px 20px;
}


.nav-link {
    color: white !important;
    font-size: 120%;

}


button {
    border: none;
    background: crimson;
    padding: 10px 25px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    font-size: 120%;
    transition: .4s;
}

.button:hover {
    background: darkred;
}

.carousel-item {
    height: 100vh;
}

.w-100-height {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    padding: 30px; /* Increase padding for more space */
    border-radius: 10px;
    width: 90%; /* Increase width */
    max-width: 1000px; /* Increase maximum width */
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: swipe-in 3s ease-out forwards;
}

@keyframes swipe-up {
    from {
        right: 100%; /* Start off the screen on the right */
    }
    to {
        right: 50%; /* End at 50% right */
    }
}

.carousel-item {
    transition: transform 2s ease, opacity 1.5s ease;
}


.carousel-caption h5, .carousel-caption p, .carousel-caption button {
    color: white;
}

.carousel-caption p{
    font-size: 120%;
}

.carousel-caption button {
    background: crimson;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.carousel-caption button:hover {
    background: darkred;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}
